body{
    background-color: #FAFAFA;
}
p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 26px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border-radius: .25rem; */
    margin: 20px 0px;
}
.card:hover {
    box-shadow: 5px 10px 18px #888888;
}
.heading {/* text-align: center; */margin: auto;padding: 40px 0px;/* font-size: 33px; */}

.heading h2 {
    font-size: 30px;
    font-weight: bold;
}
h5.card-title {
    padding: 10px 0px;
}
a.boxed-btn {
    color: #2ECC71;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 20px;
}

a.boxed-btn:hover {
    background: #2ECC71;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
}
img.card-img-top {
    min-height: 168.66px;
}